---
export interface Props {
  to: string;
  label: string;
}

const { to, label } = Astro.props;
---

<a
  class="text-[length:inherit] btn btn-ghost hover:btn-link"
  href={`/${to}`}
  aria-label={label}
  data-astro-prefetch
>
  {label}
</a>
